In [1]:
import pandas as pd
import json
from pandas import json_normalize

In [6]:

file_path = 'large_eve.json'
with open(file_path, 'r') as file:
    data = [json.loads(line) for line in file]


total_records = len(data)
total_records

746909

In [12]:
dns_records = [record for record in data if record.get('event_type') == 'dns']

print(f"Cantidad de registros DNS: {len(dns_records)}")

Cantidad de registros DNS: 15749

In [13]:
print("Dos registros DNS aleatorios:")
print(json.dumps(dns_records[:2], indent=4))

Dos registros DNS aleatorios:
[
    {
        "timestamp": "2017-07-22T17:33:16.661646-0500",
        "flow_id": 1327836194150542,
        "pcap_cnt": 22269,
        "event_type": "dns",
        "vlan": 110,
        "src_ip": "2001:0dbb:0c18:0011:0260:6eff:fe30:0863",
        "src_port": 59680,
        "dest_ip": "2001:0500:0001:0000:0000:0000:803f:0235",
        "dest_port": 53,
        "proto": "UDP",
        "dns": {
            "type": "query",
            "id": 15529,
            "rrname": "api.wunderground.com",
            "rrtype": "A",
            "tx_id": 0
        }
    },
    {
        "timestamp": "2017-07-22T17:33:24.990320-0500",
        "flow_id": 2022925111925872,
        "pcap_cnt": 54352,
        "event_type": "dns",
        "vlan": 110,
        "src_ip": "2001:0dbb:0c18:0011:0260:6eff:fe30:0863",
        "src_port": 38051,
        "dest_ip": "2001:0500:0003:0000:0000:0000:0000:0042",
        "dest_port": 53,
        "proto": "UDP",
        "dns": {
            "type": "query",
            "id": 58278,
            "rrname": "stork79.dropbox.com",
            "rrtype": "A",
            "tx_id": 0
        }
    }
]

In [14]:
df_dns = json_normalize(dns_records)
print(f"Forma del DataFrame: {df_dns.shape}")

Forma del DataFrame: (15749, 18)

In [15]:
df_dns_a = df_dns[df_dns['dns.rrtype'] == 'A']
print(f"Registros tipo A: {len(df_dns_a)}")

Registros tipo A: 2849

In [16]:
unique_domains = df_dns_a['dns.rrname'].unique()
print(f"Dominios únicos tipo A: {len(unique_domains)}")

Dominios únicos tipo A: 177

In [17]:
def get_tld(domain):
    parts = domain.split('.')
    return '.'.join(parts[-2:]) if len(parts) > 1 else domain

In [18]:
df_dns_a['domain_tld'] = df_dns_a['dns.rrname'].apply(get_tld)
df_tld = df_dns_a[['domain_tld']].drop_duplicates()

print(df_tld.head())

         domain_tld
0  wunderground.com
1       dropbox.com
2         aoltw.net
6          com.home
9       mozilla.com

C:\Users\alegu\AppData\Local\Temp\ipykernel_17876\912900931.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dns_a['domain_tld'] = df_dns_a['dns.rrname'].apply(get_tld)

In [21]:
import pandas as pd
from clasificador import clasificacion

In [32]:
import pandas as pd
from pandas import json_normalize
import json
from clasificador import clasificacion

AttributeError: 'float' object has no attribute 'split'

In [28]:
df_dns_a

,timestamp,flow_id,pcap_cnt,event_type,vlan,src_ip,src_port,dest_ip,dest_port,proto,dns.type,dns.id,dns.rrname,dns.rrtype,dns.tx_id,dns.rcode,dns.ttl,dns.rdata
0,2017-07-22T17:33:16.661646-0500,1327836194150542,22269,dns,110,2001:0dbb:0c18:0011:0260:6eff:fe30:0863,59680,2001:0500:0001:0000:0000:0000:803f:0235,53,UDP,query,15529,api.wunderground.com,A,0.0,NaN,NaN,NaN
1,2017-07-22T17:33:24.990320-0500,2022925111925872,54352,dns,110,2001:0dbb:0c18:0011:0260:6eff:fe30:0863,38051,2001:0500:0003:0000:0000:0000:0000:0042,53,UDP,query,58278,stork79.dropbox.com,A,0.0,NaN,NaN,NaN
2,2017-07-22T17:33:27.379891-0500,578544790391795,54519,dns,150,192.168.205.170,31393,192.168.207.4,53,UDP,query,54724,hpca-tier2.office.aol.com.ad.aol.aoltw.net,A,0.0,NaN,NaN,NaN
5,2017-07-22T17:33:36.672785-0500,237919524635665,55496,dns,110,2001:0dbb:0c18:0011:0260:6eff:fe30:0863,41663,2001:07fd:0000:0000:0000:0000:0000:0001,53,UDP,query,45082,api.wunderground.com,A,0.0,NaN,NaN,NaN
6,2017-07-22T17:33:38.537426-0500,2167545251640146,55687,dns,180,192.168.198.62,35092,192.168.207.4,53,UDP,query,7425,safebrowsing.clients.google.com.home,A,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15713,2017-07-22T19:37:54.912593-0500,929379683331281,4301083,dns,120,192.168.202.66,44872,192.168.207.4,53,UDP,query,15886,secure.informaction.com.hsd1.pa.comcast.net,A,0.0,NaN,NaN,NaN
15716,2017-07-22T19:39:02.426497-0500,572502265201153,4319593,dns,180,192.168.198.58,42157,192.168.207.4,53,UDP,query,33079,192.168.22.201:.stayonline.net,A,0.0,NaN,NaN,NaN
15725,2017-07-22T19:42:21.167769-0500,1621384831536985,4374772,dns,150,192.168.205.170,11886,192.168.207.4,53,UDP,query,13068,wpad.aol.aoltw.net,A,0.0,NaN,NaN,NaN
15737,2017-07-22T19:42:44.728139-0500,1137256119409739,4380897,dns,120,192.168.202.172,50164,192.168.207.4,53,UDP,query,59436,client-software.real.com,A,0.0,NaN,NaN,NaN
15743,2017-07-22T19:47:03.372988-0500,891876064866556,4441473,dns,120,192.168.202.172,60654,192.168.207.4,53,UDP,query,33107,en-us.start3.mozilla.com,A,0.0,NaN,NaN,NaN